header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #ddd;
}
.header-inner {
    position: relative;
    height: 100%;
    width: calc(100% - 60px);
    margin: 0 auto;
}
.header-inner .logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.header-inner .logo p {
    font-size: 2rem;
    font-weight: bold;
}
.menu-container  {
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.menu {
    display: flex;
    transition: transform 0.3s ease;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    overflow: hidden;
}
.menu li {
    font-size: 1.4rem;
    margin: 0 20px;
    text-align: center;
}
.menu li a {
    cursor: pointer;
}
.inner {
    width: 80%;
    max-width: 980px;
    margin: 0 auto;
}
main {
    min-height: calc(100vh - 70px - 48px);
    overflow: hidden;
}
.copy {
    text-align: center;
    color: #fff;
    background-color: #000;
    line-height: 3;
}
main {
    background-color: #ddd;
}

section {
    background-color: #fff;
    border-radius: 10px;
    margin: 40px auto;
    padding: 30px 20px;
}

/* カテゴリー大 */
.big-category ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
}
.big-category ul li {
    width: calc(25% - 15px);
    box-shadow: 0 3px 6px #ddd;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s all;
}
.big-category ul li:hover {
    background-color: cadetblue;
    color: #fff;
}
.big-category ul li.select {
    background-color: cadetblue;
    color: #fff;
} 
/* カテゴリー中 */
.middle-category-list {
    margin-top: 40px;
}
.middle-category-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px 20px;
}
.middle-category-list ul li {
    width: calc(20% - 16px);
    box-shadow: 0 3px 6px #ddd;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: .3s all;
}
.middle-category-list ul li.select {
    background-color: lightblue;
    color: #fff;
}
.middle-category-list ul li:hover {
    background-color: lightblue;
    color: #fff;
}
/* QAコンテンツ */
.content-area {
    margin-top: 40px;
}
.content-area dl dt {
    padding: 100px 20px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: .3s;
}
.content-area dl dt:hover {
    color: #fff;
    background-color: lightseagreen;
}
.content-area dl dt.open {
    color: #fff;
    background-color: lightseagreen;
}
.content-area dl dd {
    display: none;
    padding: 20px 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}
.middle-category-list,
.qa-content {
    display: none;
}
.qa-content.active {
    display: block;
}
.page-inner-link {
    cursor: pointer;
    color: palevioletred;
    text-decoration: underline;
}


@media screen and (max-width: 768px) {
    .inner {
        width: 90%;
    }
    section {
        padding: 20px 10px;
    }
}